@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

body { font-family: 'Roboto', sans-serif; background: #f3f3f3; }
body {-webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;}

.wp{
	height: 100%;
}

.wp > div{
	background: rgba(0,0,0,0.4);
	min-height: 100%;
}

select{
	color: black;
	width: 100%;
	padding: 10px 20px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	font-size: 18px
}

.fa-caret-down{
	color: black;
	position: absolute;
	top: 10px;
	right: 20px;
	pointer-events: none;
}

.relative{
	position: relative;
}

.wp1{
	background: url('../images/oxy_slider/cover1.jpg') center center;
	background-size: cover;
}

.wp2{
	background: url('../images/oxy_slider/cover2.jpg') center center;
	background-size: cover;
}

.wp3{
	background: url('../images/oxy_slider/cover3.jpg') center center;
	background-size: cover;
}

.cover{
	position: relative;
}



.login{
	position: absolute;
	top: 50%;
	z-index: 20;
	left: 50%;
	transform: translate(-50%,-50%);
	max-width: 1000px;
	text-align: center;
	color: white;
}

.login h1{
	font-weight: 400;
	font-size: 28px;
	line-height: 1.3;
}

.login h2{
	font-size: 22px;
	letter-spacing: 0.4px;
	font-weight: 700;
}

button{
	background: red;
	border: none;
	border-radius: 5px;
	font-weight: 700;
	font-size: 18px;
	margin-top: 20px;
	text-transform: uppercase;
	letter-spacing: 0.5px;
    padding: 7px 50px;
    color: #fff;
}

footer{
	color: white;
	background: black;
	font-size: 15px;
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	z-index: 20;
	text-align: center;
	padding: 10px 15px;
}

footer a{
	color: white;
}

.ui-selectmenu-button, .ui-selectmenu-button:hover, .ui-selectmenu-button:focus,.ui-menu-item-wrapper, .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus, .ui-button:hover, .ui-button:focus{
	background: white;
	width: 100% !important;
	padding: 8px 14px !important;
	font-size: 16px !important;
	font-weight: 400 !important;
	color: black !important;
	border-radius: 5px !important;
	border: none !important;
	outline: none;
	font-family: 'Roboto';
}

.ui-button .ui-icon{
	display: none;
}

.ui-widget.ui-widget-content{
	border: 1px solid red;
	position: relative;
	top: -3px;
	border-radius: 0px;
}

.ui-menu-item-wrapper{
	border-radius: 0px!important
}
.ui-menu-item-wrapper, .ui-menu-item-wrapper:active{
	padding: 5px 20px !important;
}

.ui-state-active{
	background: rgb(255, 0, 0) !important;
	color: white!important;
}


.ui-menu-item-wrapper ,.ui-state-active,.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover,.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover{
	border: none;
	margin: 0;
	border-top: 1px solid #c9c9c9;
	font-size: 14px;
	font-family: 'Roboto';
	color: #555555;
	font-weight: 400;
	border-radius: 0px;
}

@media (max-width: 768px) {
	.wp > div{
		background: rgba(0,0,0,0.6);
    }
    .login{
        top: 45%;
    }
	.login h1{
		font-weight: 400;
		font-size: 20px;
		line-height: 1.3;
	}
	.login h2{
		font-weight: 700;
		font-size: 18px;
		line-height: 1.3;
	}
	footer{
		display: block;
	}
}

/*registro*/
.register {
	position: absolute;
	top: 40%;
	z-index: 20;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 1200px;
	text-align: center;
	color: white;
	font-size: 16px;
}

.register .form-control{
	height: 40px;
}
.register .ui-selectmenu-button{
	background: white;
	width: 100% !important;
	padding: 8px 14px !important;
	font-size: 15px !important;
	font-weight: 400 !important;
	color: black !important;
	border-radius: 5px !important;
	border: none !important;
	outline: none;
	font-family: 'Roboto';
}

.register h1{
	margin-bottom: 25px;
}

.top-logo {
	text-align: left;
}

.registro-seccion {
	min-width: 100%;
	margin-top: 40px;
	background-color: rgba(255, 255, 255, 0.3);
}


@media (max-width: 768px) {
	.top-logo img {
		width: 200px;
	}
	.register {
		top: 50%;
	}
	.register h1 {
		font-size: 18px;
	}
	.register .form-control {
		height: 34px;
	}
	.registro-seccion {
		min-width: 360px;
		margin-top: 20px;
		background-color: rgba(255, 255, 255, 0.3);
	}
}



@media (max-width: 400px) {
	.top-logo img{
		width: 200px;
	}
	.register{
		top: 45%;
	}
	.register h1 {
		font-size: 18px;
	}

	.register .form-control {
		height: 34px;
	}

	.registro-seccion {
		min-width: 320px!important;
		margin-top: 20px;
		background-color: rgba(255, 255, 255, 0.3);
	}
	.owl-carousel .owl-stage-outer {
		height: 110vh;
	}
}




@media (max-width: 320px) {
	.register {
		top: 49%;
	}

	.owl-carousel .owl-stage-outer {
		height: 120vh;
	}
}



/*sadna*/

.facebook-button{
	background: #3B5999;
	border-radius: 10px
}

.modal-inicio a {
    text-decoration: none!important;
}
.modal-inicio .modal-title{
	color: red;
}
.modal-inicio .modal-body{
	padding: 35px;
	text-transform: uppercase;
}

.modal-inicio .modal-body .login-opt{
	text-align: center;
	margin-top: 20px;
}

.modal-inicio .modal-body .login-opt ul{
	list-style-type: none;
	-webkit-padding-start: 0px!important;
	padding-left: 0px;
	text-transform: uppercase;
	color: red;
}

.modal-inicio .modal-body .login-opt ul a{
	color: red;
	font-weight: bold;
	margin-bottom: 20px;
}

.modal-inicio .modal-body button {
	color: #fff;
	font-size: 14px;
	background: #808080;
}


.modal-inicio .modal-body img{
	width: 100%;
}


@media (min-width: 768px) {
	.modal-inicio .modal-dialog {
		width: 400px;
		margin: 30px auto;
	}
}


a:hover,
a:focus {
    color:red;
    text-decoration: underline;
}