.letras a{
    padding-right: 16.2px;
    color: #000;
    text-decoration: none!important;
}
.letras a:hover {
    color: red;
}
.titulo-letra{
    margin-top: 0px;
    padding-top: 10px;
    border-bottom: 1px solid #ddd;
}
.aprobb-btn{
    position: relative;
    float: left;
    top: 8px;
    text-align: center;
}
.aprobb-btn span{
    border-bottom: 1px solid red;
    color: red;
}
.modal-body .modal-mail .container-fluid{
    padding: 0px;
}
.modal-body textarea{
    width: 90%;
    resize: none;
    margin-left: 15px;
}

.listas .ans{
    padding-left: 0px;
    padding-right: 0px;
}

.listas .ans .name a{
    border-bottom: none!important;
    text-decoration: none!important;
}

.listas .name a {
    color: #424242;
}

.listas .infoma .name {
    text-align: left;
}


.listas .searchx input {
    width: 60%;
}

.listas .searchx button {
    position: relative;
    right: 34px;
    top: 2px;
}


.listas  .inline-doble{
    display: inline-block;
    margin-left: 20px;
}

.listas .searchx button.doble {
    color: red;
    border: 1px solid red;
    margin-top: 10px;
    font-weight: 700;
    padding: 3px 25px;
    font-size: 14px;
}

.listas .searchx button.doble:first-child{
    margin-right: 10px;
}


.listas .searchx button.doble:hover {
    color: white;
    background: red;
}




.ver-mas-button  button{
    border: 1px solid #bbb;
    border-radius: 2px;
    color: black;
    background: #fff;
    padding: 3px 20px;

}


.info .right {
    width: 250px;
    text-align: left;
}

.union-mensaje{
    margin-top: 10px;
    margin-bottom: 10px;
}
.union-mensaje span{
    color: #ccc;
}
.tabla-intranet{
    margin-top: 10px;
}
.tabla-intranet thead tr th{
    color: red;
    text-align: center;
}

@media (min-width: 768px) {
    .tabla-intranet tbody tr td{
        padding-left: 0px;
        padding-right: 0px;
    }
}
.tabla-intranet tbody tr td:first-child {
    text-align: left;
}

.tabla-intranet tbody tr td:not(:first-child) {
    text-align: center;
    padding-top: 20px;
}

.tabla-intranet .tabla-n{
    display: inline-block;
    color: #fff;
    padding: 10px 10px;
    background: red;
}
.tabla-intranet .i-fondo {
    width: 75px;
    background: gray;
}
.desafio-botones{
    margin-top: 10px;
}
.desafio-botones a.but:not(:last-child){
    margin-right: 10px;
}

.under-content{
    margin: 5px 0px 10px 0px;
}

.d-desaf{
    display: inline-block;
    margin-left: 10px;
}
.d-desaf img{
    width: 30px;
    height: 30px;
    display: inline-block;
    position: relative;
    top: -5px;
}

.d-desaf .tit-nom {
    display: inline-block;
    position: relative;
    top: 10px;
}

.d-desaf .tit-nom h3 {
    color: #000;
    font-size: 18px;
    margin-top: 0px;
}
.d-desaf .tit-nom h4 a{
    text-decoration: underline!important;
    color: red;
    font-size: 15px;
}

.tcenter{
    margin-top: 10px;
    background: #fff;
}
table.tcenter th{
    color: red;
    font-size: 18px;
    font-weight: 100;
}
table.tcenter td,
table.tcenter th {
    text-align: center;
}

.separa{
    padding: 0px 10px;
}

.section>.row.mapped{
    border-bottom: none;
}
.section>h3.mb-15 {
    margin-bottom: 15px;
}
.mt-15 {
    margin-top: 15px;
}

.resumen-black{
    padding: 0px 0px 0px 10px;
}
.bloque-resumen{
    padding: 5px 0px;
    border-bottom: 1px solid #ddd;
}
.bloque-resumen .nombre{
    font-weight: bold;
}
.bloque-resumen .cantidad {
    float: right;
}

.but.impr{
    float: right;
}
.google-ana{
    font-size: 18px;
    font-weight: 100;
}
.google-ana a{
    color: red;
    border-bottom: 1px solid red;
}


.crea-desafio-intra{
    margin-top: 30px;
}

.crea-desafio-intra .form-group{
    margin-bottom: 0px;
}


@media (min-width: 768px) {
    .crea-desafio-intra .form-group {
        margin-bottom: 25px;
    }
}

@media (max-width: 768px) {
    .crea-desafio-intra .form-control {
        margin-bottom: 15px;
    }
    .info-row-2{
        margin-bottom: 15px;
    }
}



.crea-desafio-intra .form-control{
    
    -webkit-appearance:none;
    border-radius: 0;
    border-color: #92a0a6;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0)
}
.crea-desafio-intra .form-group .col-sm-4,
.crea-desafio-intra .form-group .col-sm-6,
.crea-desafio-intra .form-group .col-sm-10 {
    padding: 0px 8px;
}

.crea-desafio-intra .form-horizontal .control-label {
    text-align: left;
}

.info-row{
    margin-top: 0px;
}
.info-row .fa-caret-down {
    top: 12px;
}

.buttoms{
    text-align: center;
}
.buttoms .prev, .buttoms .sig{
    float: none;
    margin: 0px 5px;
}

.under-input{
    float: right;
    font-size: 12px;
}


.setting {
    position: absolute;
    right: 0px;
    top: 0px;
    text-align: right;
}

.menusito{
    width: 100px;
    display: inline-block;
    padding: 3px 10px;
    border: 1px solid #a8a8a8;
    background: #fff;
    text-align: left;
    display: none;
}


.menusito hr {
    margin: 3px 0px;
    border-color: #c9c9c9;
}

.menusito a {
    color: #333;
    text-decoration: none!important;
}

.dropp-icon{
    background: red;
    color: white;
    padding: 2px 4px;
    cursor: pointer;
}


.listas-room-row{
    padding: 3px 0px;
    margin-bottom: 5px;
    border-bottom: 1px solid #ccc;
}

.listas-room-title{
    font-weight: bold;
    font-size: 15px;    
}

.p-square {
    margin-left: 10px;
    color: #bbb;
    background: white;
    font-size: 18px;
}

.square-active{
    color: red;
    background: white;
}

.crear-lista{
    margin: 15px 0px;
}
.content-lista{
    padding-top: 12px;
    border-top: 1px solid #ccc;
}
.content-lista button{
    margin: 0px;
    padding: 3px 10px; 
}
.content-lista input{
    width: 100%;
}

.jude{
    position: absolute;
    left: 80px;
}

.file-eg{
    position: relative;
    top: 5px;
}


.editar-bottom-buttons{
    margin-top: 20px;
}

a .btn-red:hover, a .btn-white:hover{
    text-decoration: none;
}
.btn-red{
    
    color: white;
    font-weight: 700;
    padding: 1px;
    border: 2px solid red;
    background: red;
    padding: 6px 16px;
    border-radius: 4px;
    margin-left: 5px;
    margin-right: 5px;
}

.btn-white {
    color: red;
    padding: 1px;
    border: 2px solid red;
    background: none;
    padding: 6px 30px;
    border-radius: 4px;
    margin-left: 5px;
    margin-right: 5px;
}
.btn-white:hover{
    color: red;
}

.btn-red:hover {
    color: white;
}