.image img{
	width: 100%;
}

.retitle{
	color: red;
	font-weight: 400;
	font-size: 20px;
	margin: 15px 0px;
}

.publi{
	margin-bottom: 40px;
}

.publi p{
	font-size: 15px;
	text-align: justify;
	line-height: 1.3;
}

.smalltitle{
	color: red;
	font-size: 16px;
	font-weight: 600;
}

.aviso{
	border: 1px solid red;
	padding: 20px 25px;
	font-size: 15px;
	text-align: justify;
	margin-top: 20px;
}

.dataa{
	margin-top: 15px;
	color: black;
	font-size: 16px;
	text-align: left !important;
}

.dataa span{
	color: red;
	font-size: 17px;
	font-weight: 600;
}

td{
	vertical-align: top;
}

.icon{
	margin-right: 3px;
}

.dataa a{
	color: red;
	border-bottom: 1px solid red;
	font-weight: 600;
}

.leftshi{
	padding-left: 7px;
	line-height: 1.4;
	vertical-align: top;
	color: red;
}

.buttt{
	padding: 7px 30px;
	font-weight: 500;
	background: white;
	color: red;
	margin: 10px 0px;
	display: inline-block;
	font-size: 16px;
	border: 1px solid red;
}
a.buttt:hover{
	color: #fff;
	background: red;
}

.ralign{
	text-align: right;
}

@media (max-width: 767px) {
	.ralign{
	text-align: left;
	margin: 0px 20px;
	}
	.retitle{
		padding: 0px 20px;
	}
	.publi p{
		padding: 0px 20px;
	}
	.smalltitle{
		padding: 0px 20px;
	}
	.dataa{
		font-size: 15px;
	}
	.dataa span{
		font-size: 15px;
	}
}