@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

body { font-family: 'Roboto', sans-serif; background: #f3f3f3; }
body {-webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;}

.col-md-1,.col-md-2,.col-md-3,.col-md-4,
.col-md-5,.col-md-6,.col-md-7,.col-md-8,
.col-md-9,.col-md-10,.col-md-11,.col-md-12{padding: 0px;}
.col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,
.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,
.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12{padding: 0px;}
.col-xs-1,.col-xs-2,.col-xs-3,.col-xs-4,
.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,
.col-xs-9,.col-xs-10,.col-xs-11,.col-xs-12{padding: 0px;}
.row{margin: 0px;}

.container {max-width: 960px; padding: 0px;}

/* Nav */

.nav{
	height: 65px;
	border-bottom: 1px solid #e9e9e9;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 20;
	background: white;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.05);
}

.search-bar{
	position: relative;
	display: inline-block;
	left: 20px;
}

.nav i{ color: red; }
.nav .b-search{
	cursor: pointer; position: absolute;
	right: 10px; top: 13px; font-size: 20px; border: none; background: none; padding: 0; }

.nav .container{
	position: relative;
}

.logo, .logo-mobile{ height: 40px; margin-top: 11px }
.logo-mobile { display: none;}

.right-bar{
	display: inline-block;
	position: absolute;
	right: 0px;
	top: 0px;
}

.right-bar > .bar-el {color: inherit; display: inline-block; margin-left: 10px; position: relative; top: 11px; cursor: pointer;}
.right-bar > .bar-el > span {
	position: absolute; 
	left: 15px;
	top: -4px;
	background-color: #ddd;
	padding: 1px 4px;
	font-size: 12px;
}
.right-bar > .bar-el > i{ font-size: 20px; margin-left: 3px; position: relative; top: 3px;}
.foto-prof{ border-radius: 50%; position: relative; top: 0px; height: 45px; }

.nav-search{
	width: 450px;
	padding: 5px 10px;
	position: relative;
	top: 8px;
	border-radius: 5px;
	border: 1px solid #c9c9c9;
}

.right-bar > .nav-menu{
	position: absolute;
	top: 64px;
	z-index: 40;
	right: -5px;
	border: 1px solid #c9c9c9;
	border-top: none;
	width: 100%;
	border-radius: 0px 0px 7px 7px;
	background: white;
	box-shadow: 0px 5px 5px rgba(0,0,0,0.1);
	overflow: hidden;
	display: none;
}
.nav-menu .notification { max-height: 40px;}
.nav-menu .notification img{ height: 40px; width: 40px; margin-right: 10px; float: left;}
.nav-menu .notification span { font-size: 12px; width: 60%; display: inline-block; height: 40px; padding-top: 4px; }
.nav-menu.alerts-menu a {padding: 10px 0px 10px 20px;}
.nav-menu a{ display: block; border-top: 1px solid #e9e9e9; padding: 10px 20px; color: inherit; }
.nav-menu a.menu-a{ background: #f9f9f9 }
.nav-menu a:hover{ text-decoration: none; background: rgb(255, 229, 229); }
.nav-menu a i{ font-size: 18px; margin-right: 3px; position: relative; top: 1px; }

@media (max-width: 992px) {
	.search-bar{ display: none; }
	.nav{ padding: 0px 10px; }
}

@media (max-width: 768px){
	.logo-mobile { display: inline; height: 40px; margin-top: 12px;}
}

 /* Cover */
.cover { margin-top: 64px; }
.cover > .container{ background: white; border: 1px solid #c9c9c9; }

.foto-intra { padding: 20px; padding-bottom: 0px; }
.foto-intra > div > p { text-align: center; font-size: 23px; margin: 0px; }
.foto-intra > div > p > span { color: red; font-weight: 700; line-height: 1.25;}
.image-intra{ border: 2px solid #e9e9e9; padding: 3px; margin-bottom: 10px }
.cover-intra{height: 300px; border-left: 1px solid #c9c9c9;}
.options-intra{ text-align: center; border-top: 1px solid #c9c9c9; border-left: 1px solid #c9c9c9; font-size: 15px; }
.options-intra > div > .option { color: #666666; display: block; cursor: pointer; border-right: 1px solid #c9c9c9; height: 40px; padding-top: 10px; }
.options-intra > div > .option:hover { color: red; }
.options-intra > div > .option:last-child { border-right: none; }

.options-intra img { height: 21px; position: relative; margin-left: 3px; top: -2px; }

.solucionamos-intra{ background: url('../images/stock/solucionamosperu.jpg') right center; background-size: cover;}

@media (max-width: 992px) {
	.options-intra > div > a:nth-child(2) { border-right: none; }
	.options-intra > div > a:nth-child(1) { border-bottom: 1px solid #c9c9c9; }
	.options-intra > div > a:nth-child(2) { border-bottom: 1px solid #c9c9c9; }
}

@media (max-width: 767px) {
	.cover > .container{ border: none; border-bottom: 1px solid #c9c9c9; }
	.options-intra{ border-left: none; }
	.cover-intra{ border-left: none; }
	.cover-intra{ height: 200px; }
	.cover-intra{ border-top: 1px solid #c9c9c9; }
}

/* Relevante */

.relevante {margin-top: 20px;}
.relevante > .container {background: red;}

.bro-rel{
	color: white;
	background: #363533;
	padding: 7px 40px;
	position: relative;
}

.red-rel{
	text-align: center;
	color: white;
	font-size: 18px;
	font-weight: 500;
	padding-top: 16px;
}

.barbar{
	background: #f3f3f3;
	height: 100%;
	position: absolute;
	z-index: 15;
	left: 50%;
	top: 0px;
	width: 5px;
}

.dr-left, .dr-right{ position: absolute; top: 31px; font-size: 20px; cursor: pointer; }
.dr-right{ right: 10px;}
.dr-left{ left: 10px; }

.relevante p { padding: 0px 10px; padding-top: 5px; line-height: 1.2; font-size: 13px; margin: 0px; }

.image-cam{
	background: url('../images/stock/chofer4.jpg') center center;
	background-size: cover;
	height: 70px;
}

@media (max-width: 992px) {
	.red-rel{
		padding: 15px 4px;
	}
}

a{
	text-decoration: none !important;
}

/* Body */

.atras{
	position: absolute;
	right: 50px;
	font-weight: 700;
	top: 40px;
	font-size: 15px;
	color: red;
	padding: 7px 40px;
	border-radius: 5px;
	cursor: pointer;
	background: red;
	color: white;
	border: 2px solid red;
}

.atras:hover{
	color: red;
	background: white;
}

.body { margin-top: 20px; margin-bottom: 80px}
.body > .container{ background: white; padding: 10px; }
.body > .container > .row > .feed { padding: 10px; cursor: pointer; }
.body > .container > .row > .feed:hover .row-text{ opacity: 1; }
.row-image{ height: 200px; display: block; }
@media (max-width: 768px) {
	.row-image{
		height: 260px;
	}
}
.row-name{ background: rgb(255,0,0); text-align: center; padding: 10px 0px; color: white; font-weight: 700; }
.row-text { text-decoration: none; color: white; text-align: center; background: rgba(0,0,0,0.7); height: 100%; padding: 15px; font-weight: 500; opacity: 0; -webkit-transition: opacity 0.2s; transition: opacity 0.2s; }
.row-text > p { text-transform: uppercase; font-weight: 700; text-decoration: none; }

.image-perfil{
	background: url('../images/inicio/tu_perfil.jpg') center center; background-size: cover;
}
.image-propuesta{
	background: url('../images/inicio/tu_propuesta.jpg') center center; background-size: cover;
}
.image-recompensa{
	background: url('../images/inicio/recompensas.jpg') center center; background-size: cover;
}
.image-ranking{
	background: url('../images/inicio/soluciones.jpg') center center; background-size: cover;
}
.image-soluciones{
	background: url('../images/inicio/aprobados.jpg') center center; background-size: cover;
}
.image-agentes{
	background: url('../images/inicio/buscador-soluciones.jpg') center center; background-size: cover;
}
.image-desafios{
	background: url('../images/inicio/desafios.jpg') center center; background-size: cover;
}
.image-intranet{
	background: url('../images/inicio/intanet.jpg') center center; background-size: cover;
}


.image-intranet-default {
    background: url('../images/inicio/intranet/intranet-img.jpg') center center;
    background-size: cover;
}

@media (max-width: 992px) {
	.body{
		margin-bottom: 0px;
	}
}


/* Footer */

footer{
	background: rgb(255,0,0); color: white; position: fixed; bottom: 0px; width: 100%;
	text-align: center; padding: 10px;
	font-size: 15px; font-weight: 500;
	font-weight: 500;
	box-shadow: 0px -2px 5px rgba(0,0,0,0.2);
	z-index: 40;
	font-size: 13px;
}

footer span{
	padding: 10px;
}

footer a{
	padding: 10px;
	color: white;
	cursor: pointer;
	
}

footer a:hover{
	color: white;
	text-decoration: none;
}

@media (max-width: 992px) {
	footer{
		position: static;
	}
}

/*modal*/
.md-modal {
    max-width: 450px;
}
.md-content > div {
    padding: 15px 40px 15px;
    margin: 0;
    font-weight: 300;
    font-size: 14px;
}

.md-content .btn {
	background: #fff;
    color: red;
    border: none;
    font-size: 14px;
    border-radius: 5px;
    font-weight: 500;
    padding: 6px 15px;
    border: 1px solid red;
}

.md-content h3{ background-color: red; color: #fff; }

.md-content .btn:hover {
	background: red;
	color: #fff;
}
.md-content .form-horizontal label{text-align: right;}
.md-content .input-group{margin-bottom: 15px;}
.md-content .input-group input{ margin-left: 40px;}

.edit-perfil .t2{font-size: 18px;}
.edit-perfil .t2 strong{
	color: red;
}

.edit-perfil .form-group .row .col-sm-4{
	padding-right: 15px;
}

.edit-perfil .form-group .form-control {
    font-size: 13px;
    border-radius: 0;
    border-color: #92a0a6;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0);
}

.edit-perfil .form-group .row .col-sm-4:last-child{
	padding-right: 0px;
}

.edit-perfil .form-group .row .col-sm-3{
	padding-right: 15px;
}

.edit-perfil .form-group .row .col-sm-3:last-child{
	padding-right: 0px;
}

@media (max-width: 768px){
	.edit-perfil .form-group .row .col-sm-4{
		padding-right: 0px;
	}
	.edit-perfil .form-group .row .col-sm-3{
		padding-right: 0px;
	}
}

.edit-perfil .fa-twitter{padding: 5px 6px; background-color: #1DA1F2; color: #fff;}
.edit-perfil .fa-facebook{padding: 5px 7px;  background-color: #3B5998; color: #fff;}
.edit-perfil .fa-linkedin{padding: 5px 7px; background-color: #0077B5; color: #fff;}
.edit-perfil .fa-google-plus{padding: 5px 6px; background-color: #DD4B39; color: #fff;}









/******Modal******/
.modal-body h4 a{
	display: inline-block;
	position: relative;
	top: 3px;
	font-size: 13px;
	clear: both;
    color: #546E7A;
}

.modal-body h4.img-sub{
	padding: 0px 15px;
}
.modal-body h4 a:hover{
    color: red;
}

.modal-body.bar{
	max-height: calc(100vh - 410px);
    overflow-y: auto;
}

.modal-body .score{
	background-image: url(../assets/img/icono/icon-score-white.png);
    width: 28px;
    height: 28px;
    display: inline-block;
    margin: 0px 4px 0px 10px;
    color: #fff;
    padding: 5px 5px 0px 7px;
    font-size: 12px;
}

.score-block{
	clear: both;
	margin-top: 5px;
	margin-bottom: 10px;
}

.modal-body div hr{
	margin: 5px 0px;
	display: block;
	width: 100%;
}

.modal-body{
    padding: 15px 40px 15px;
    margin: 0;
    font-weight: 300;
    font-size: 14px;
	text-align: left;
	min-width: 300px
}
.button-cn{
	clear: both;
	text-align: center;
	padding-top: 20px;
}
.button-cn a:hover {
	cursor: pointer;
}

.button{
	background: #fff;
    color: red;
    border: none;
    font-size: 14px;
    border-radius: 5px;
    font-weight: 500;
    padding: 6px 15px;
    border: 1px solid red;
}
.button:hover{
	background: red;
    color: #fff;
    outline: none;
}
.modal-content{
	border-radius: 0px!important;
}
.modal-content h3{
	background-color: red;
	text-align: left;
	padding: 20px;
    font-size: 18px;
    font-weight: 400;
    opacity: 0.8;
    border-radius: 0;
    color: #fff;
    margin-top: 0px;
    margin-bottom: 0px;
}

@media (min-width: 768px){

	.modal-content {
	    width: 450px;
	    margin: 0 auto;
	}
	
}

@media (max-width: 768px){
	#profile .modal-body{
		padding: 15px;
	}
	#profile .modal-body .score{
		margin-left: 25px;
	}
	.modal-body h4 a{
		position: static;
	}
	
}
.modal {
  text-align: center;
  padding: 0!important;
}

.modal.option:before {
  margin-top: -420px;
}
.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
  margin-top: -60px;
}

.modal-dialog {
  display: inline-block;
  vertical-align: middle;
}



.float-none{
	float: none!important;
}
.detail{
	margin-top: 10px;
}

.bc-pad{
	padding: 15px 0px;
}

.button-ver-mas{
	margin-bottom: 20px;
}
.button-ver-mas a{
	padding: 8px 30px;
	font-size: 15px;
}
a.inherit{
	color: inherit;
	outline: none;
}

#detalle .ui-selectmenu-open {
    display: block;
    z-index: 9999!important;
}

.ui-selectmenu-open {
	display: block;
	z-index: 9999!important;
}

.button-cont-stan{
	margin: 15px 0px 0px;
}


@media (max-width: 768px){
	
	.img-sub{
		margin-top: 0px;
	}
		

}

/* Cambios ultimos */
.options-intra a:hover, .options-intra a:focus{
	color: red;
}
.right-bar .bar-el:hover, .right-bar .bar-el:focus{
	color: red;
}

/* modal */
.modal button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    position: relative;
    z-index: 9999;
    right: 15px;
    top: 16px;
}

.modal .close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    /* text-shadow: 0 1px 0 #fff; */
    filter: alpha(opacity=1);
    opacity: 1;
}
.modal .close:hover {
    filter: alpha(opacity=0.6);
    opacity: 0.6;
}
.downn{
	color: white;
    position: absolute;
    right: 60px;
    top: 60px;
    pointer-events: none;
}

@media (max-width: 768px){
	.downn{
		top: 82px;
	}
}

/* Soluciones que sigo cambios */
.modal-body h4.img-sub {
    padding: 0px 15px;
}

.modal-body bar hr{
	margin: 10px 0px;
	padding: 10px 0px;
}

.mooore{
	color: red!important;
	font-weight: bolder;
	font-size: 20px;
}



/*drop*/

.dropzone .dz-default.dz-message{
	background-position: center;
}
.butt label{
    margin-bottom: 0px;
}

.butt a label{
    cursor: pointer;
}


input.subir[type="file"] {
    display: none;
}

label.no-style{
    width: 100%;
}